/* Using Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    text-align: center;
    
}

.header  {
    background-image: url(/assets/backgrounds/h_img.jpg); 
    background-size: cover;
    height: 400px;
    padding-top: 135px;
    color: white;



}


.header h1 {
    font-size: 45px;
    font-weight: bolder;
}
#mouse-click {
    position: fixed;

}
#logo {
    position: absolute;
    top: 4%;
    height: auto;




}


.services {
    background-image: url('/assets/backgrounds/s_image.jpg');
    color: white;
    text-align: center;
    height: 250px;

}
.services p {
    font-size: 21px;
}
.What-we-do {





}
.portfolio-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;

}
#portfolio-1 {
    font-size: 30px;
    text-align: center;
    padding: 5px;

}

.contact-us{
    background-image: url('/assets/backgrounds/c_image.jpg');
}

.social {
    /* height: 250px; */
    

    
}